* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;

}

.container {
  max-width: 564px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: url('/assets/start_wars1.jpg') no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-1 {
  opacity: 0;
  transform: translateY(70px);
  animation: show-title 2s linear 1;
  animation-fill-mode: forwards;
}

@keyframes show-title {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.clone-1 {
  width: 100px;
  position: absolute;
  left: 0;
  top: 150px;
  transform: translateX(-200px);
  animation: show-clone-1 2s linear 1;
  animation-fill-mode: forwards;
}

@keyframes show-clone-1 {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}

.clone-2 {
  width: 100px;
  position: absolute;
  right: 0;
  top: 150px;
  transform: rotateY(180deg) translateX(200px);
  animation: show-clone-2 2s linear 1;
  animation-fill-mode: forwards;

}

@keyframes show-clone-2 {
  from {
    transform:  translateX(200px);
  }
  to {
    transform: rotateY(180deg) translateX(0px);
  }
}

